@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic:regular,700,800);
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
}

:root {
  font-size: 10px;
  font-family: Montserrat;
}

@media (min-width: 600px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 840px) {
  :root {
    font-size: 14px;
  }
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body #bg {
  background: linear-gradient(45deg, rgba(30, 45, 47, 0.9) 64%, rgba(35, 44, 51, 0.8)), url("https://images.wallpaperscraft.com/image/minimalism_tomato_red_table_wall_shadow_background_74245_1920x1080.jpg") no-repeat center center;
  background-size: cover;
  background-blend-mode: hue;
  position: fixed;
  z-index: -998;
  height: 100%;
  width: 100%;
}

.primary-header {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 3em;
}

@media (min-width: 840px) {
  .primary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.primary-header .logo-container #logo {
  position: relative;
  display: block;
  color: #EBF5EE;
  background-color: #519e88;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  font-family: "Nanum Gothic";
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  margin: 0 auto;
  padding: .2em 0 0;
  opacity: 1;
  text-shadow: 0 0 0.5rem rgba(35, 44, 51, 0.7), 0 0 0.8rem rgba(25, 31, 36, 0.8);
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media (min-width: 840px) {
  .primary-header .logo-container #logo {
    margin-left: .2em;
    padding: .2em auto;
    -webkit-transition: opacity 200ms ease-out, text-shadow 150ms ease, -webkit-transform 150ms ease-out;
    transition: opacity 200ms ease-out, text-shadow 150ms ease, -webkit-transform 150ms ease-out;
    transition: opacity 200ms ease-out, text-shadow 150ms ease, transform 150ms ease-out;
    transition: opacity 200ms ease-out, text-shadow 150ms ease, transform 150ms ease-out, -webkit-transform 150ms ease-out;
    background: none;
    opacity: .9;
    font-size: 4rem;
  }
  .primary-header .logo-container #logo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    bottom: -10px;
    left: 0;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(99, 177, 122, 0.7)), to(transparent));
    background-image: linear-gradient(to left, rgba(99, 177, 122, 0.7), transparent);
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 150ms ease-out;
    transition: -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out;
    transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
  }
  .primary-header .logo-container #logo::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(315deg, rgba(68, 155, 120, 0.7) 0%, rgba(81, 158, 136, 0.8) 74%);
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    top: -300px;
    left: -160px;
    z-index: -1;
  }
  .primary-header .logo-container #logo:hover::after, .primary-header .logo-container #logo:focus::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .primary-header .logo-container #logo:hover, .primary-header .logo-container #logo:focus {
    opacity: 1;
    text-shadow: 0 0 1rem rgba(35, 44, 51, 0.7), 0 0 1.2rem rgba(25, 31, 36, 0.8);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

.primary-header #primary-nav {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
}

.primary-header #primary-nav.open {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
}

@media (min-width: 840px) {
  .primary-header #primary-nav {
    all: unset;
    margin: 1em 0 0;
  }
}

.primary-header #primary-nav ul {
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 840px) {
  .primary-header #primary-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.primary-header #primary-nav ul li {
  cursor: pointer;
  padding: 1em;
  border-bottom: 2px solid rgba(235, 245, 238, 0.6);
  border-top: 2px solid rgba(235, 245, 238, 0.6);
  background: #232C33;
}

.primary-header #primary-nav ul li:not(:first-child) {
  border-top: none;
}

@media (min-width: 840px) {
  .primary-header #primary-nav ul li {
    margin-bottom: 0;
    border: none;
    background: none;
  }
  .primary-header #primary-nav ul li:last-of-type {
    margin-right: .8em;
  }
}

.primary-header #primary-nav ul li a {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #EBF5EE;
}

.primary-header #primary-nav ul li a.active {
  position: relative;
  margin-left: 1rem;
}

.primary-header #primary-nav ul li a.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: .6rem solid transparent;
  border-left-color: #ebf5ee;
}

@media (min-width: 840px) {
  .primary-header #primary-nav ul li a {
    color: #12695F;
    font-weight: 500;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
  }
  .primary-header #primary-nav ul li a:hover, .primary-header #primary-nav ul li a:focus {
    color: #EBF5EE;
    padding: .2em;
    border-radius: .2em;
    border: 2px solid #EBF5EE;
  }
  .primary-header #primary-nav ul li a:hover.active::before, .primary-header #primary-nav ul li a:focus.active::before {
    border-top-color: rgba(235, 245, 238, 0.6);
  }
  .primary-header #primary-nav ul li a.active {
    position: relative;
  }
  .primary-header #primary-nav ul li a.active::before {
    content: '';
    position: absolute;
    top: calc(-.8rem - 5px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: .8rem solid transparent;
    border-top-color: rgba(30, 45, 47, 0.6);
  }
}

.primary-header .hamburger {
  position: absolute;
  height: 100%;
  width: 50%;
  bottom: -100%;
  right: 0;
  background-color: #519e88;
  -webkit-clip-path: polygon(100% 0, 60% 0, 100% 100%);
          clip-path: polygon(100% 0, 60% 0, 100% 100%);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

@media (min-width: 840px) {
  .primary-header .hamburger {
    display: none;
  }
}

.primary-header .hamburger .ham-btn {
  position: absolute;
  cursor: pointer;
  top: 5%;
  right: 5%;
  height: 20px;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

@media (min-width: 600px) {
  .primary-header .hamburger .ham-btn {
    right: 8%;
  }
}

.primary-header .hamburger .ham-btn:focus .ham-item {
  -webkit-box-shadow: 0 1px 2px rgba(35, 44, 51, 0.7);
          box-shadow: 0 1px 2px rgba(35, 44, 51, 0.7);
}

.primary-header .hamburger .ham-btn:focus .ham-top {
  -webkit-transform: translateY(6px) rotate(0);
          transform: translateY(6px) rotate(0);
}

.primary-header .hamburger .ham-btn:focus .ham-middle {
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
}

.primary-header .hamburger .ham-btn:focus .ham-bottom {
  -webkit-transform: translateY(12px) rotate(0);
          transform: translateY(12px) rotate(0);
}

.primary-header .hamburger .ham-btn .ham-item {
  position: absolute;
  width: 100%;
  right: 0;
  height: 2px;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px rgba(35, 44, 51, 0.7);
          box-shadow: 0 1px 1px rgba(35, 44, 51, 0.7);
}

.primary-header .hamburger .ham-btn .ham-top {
  -webkit-transform: translateY(5px) rotate(0);
          transform: translateY(5px) rotate(0);
}

.primary-header .hamburger .ham-btn .ham-middle {
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
}

.primary-header .hamburger .ham-btn .ham-bottom {
  -webkit-transform: translateY(10px) rotate(0);
          transform: translateY(10px) rotate(0);
}

.primary-header .hamburger .ham-close {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.primary-header .hamburger .ham-close .ham-top {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.primary-header .hamburger .ham-close .ham-middle {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.primary-header .hamburger .ham-close .ham-bottom {
  display: none;
}

.primary-header .hamburger.short {
  -webkit-clip-path: polygon(100% 0, 65% 0, 100% 35%);
          clip-path: polygon(100% 0, 65% 0, 100% 35%);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  z-index: 1;
  background: #232C33;
}

.primary-header .hamburger.short .ham-btn {
  top: 3%;
  right: 5%;
}

main {
  color: #12695F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-width: 90%;
  margin: 2em auto;
}

main .welcome-card-container.hidden {
  border-radius: 10px;
}

main .welcome-card-container.hidden.hidden {
  display: none;
}

main .welcome-card-container.hidden.visible {
  display: initial;
}

main #welcome {
  position: relative;
  color: white;
  background-image: linear-gradient(47deg, rgba(39, 38, 38, 0.7) 0%, rgba(44, 62, 80, 0.6) 74%);
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(35, 44, 51, 0.8);
          box-shadow: 0 5px 10px rgba(35, 44, 51, 0.8);
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  padding-bottom: 0;
  overflow: hidden;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

@media (min-width: 840px) {
  main #welcome {
    background-image: linear-gradient(315deg, rgba(222, 235, 221, 0.6) 0%, rgba(187, 219, 190, 0.5) 74%);
    color: #232C33;
    max-width: 90%;
    margin: 2em auto 1em;
    padding: 0;
  }
}

main #welcome:hover, main #welcome:focus {
  -webkit-box-shadow: 0 5px 20px rgba(35, 44, 51, 0.6);
          box-shadow: 0 5px 20px rgba(35, 44, 51, 0.6);
}

@media (min-width: 840px) {
  main #welcome:hover, main #welcome:focus {
    background-image: linear-gradient(315deg, rgba(222, 235, 221, 0.6) 0%, rgba(187, 219, 190, 0.5) 74%);
  }
}

@media (min-width: 840px) {
  main #welcome-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
  }
}

main #welcome-head .head-img {
  background-image: url(https://images.unsplash.com/photo-1581699461793-bec4b43073b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  border-radius: 10px 0 0 10px;
  z-index: 0;
}

@media (min-width: 840px) {
  main #welcome-head .head-img {
    display: block;
    min-width: 400px;
    min-height: 100%;
    border-right: 5px solid #12695F;
  }
}

main #welcome-head .head-img .grad {
  background-image: linear-gradient(315deg, rgba(249, 234, 143, 0.3) 0%, rgba(177, 241, 219, 0.3) 74%);
  z-index: 1;
  width: 100%;
  height: 100%;
}

main #welcome-head #welcome-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  border-radius: 10px;
}

@media (min-width: 840px) {
  main #welcome-head #welcome-header {
    border-radius: 0 10px 10px 0;
    background-image: linear-gradient(45deg, rgba(99, 177, 122, 0.6), rgba(56, 70, 81, 0.7));
  }
}

main #welcome-head #welcome-header #welcome-greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

main #welcome-head #welcome-header #welcome-greetings .welcome-header-logo {
  color: transparent;
  font-weight: 600;
  font-size: 4rem;
  margin: .8em auto .2em;
  position: relative;
  background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media (min-width: 840px) {
  main #welcome-head #welcome-header #welcome-greetings .welcome-header-logo:hover::after {
    -webkit-animation: welcome-header-logo-animate 400ms infinite ease alternate;
            animation: welcome-header-logo-animate 400ms infinite ease alternate;
  }
}

main #welcome-head #welcome-header #welcome-greetings .welcome-header-logo::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 25%;
  width: 50%;
  height: 3px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(171, 237, 198, 0.6)), to(rgba(86, 135, 109, 0.7)));
  background-image: linear-gradient(to right, rgba(171, 237, 198, 0.6) 50%, rgba(86, 135, 109, 0.7));
  border-radius: 15%;
  opacity: .8;
}

@media (min-width: 840px) {
  main #welcome-head #welcome-header #welcome-greetings .welcome-header-logo::after {
    left: 0;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(171, 237, 198, 0.6)), to(transparent));
    background-image: linear-gradient(to right, rgba(171, 237, 198, 0.6) 50%, transparent);
    border-radius: 50px 0 0 50px;
  }
}

@-webkit-keyframes welcome-header-logo-animate {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

@keyframes welcome-header-logo-animate {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

main #welcome-head #welcome-header #welcome-greetings h2 {
  font-size: 3rem;
  font-weight: 400;
}

main #welcome-head #welcome-header #welcome-greetings h3 {
  font-size: 2rem;
  font-weight: 500;
  margin: .8em auto;
}

main #welcome-head #welcome-header #welcome-paras {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0 0;
      -ms-flex-positive: 0 0;
          flex-grow: 0 0;
  font-size: 1.2rem;
  line-height: 1.3;
  margin-top: .2em;
}

@media (min-width: 840px) {
  main #welcome-head #welcome-header #welcome-paras {
    font-size: 1.3rem;
    max-width: 80%;
    margin: 0 auto;
  }
}

main #welcome-head #welcome-header #welcome-paras p {
  margin-bottom: 1em;
}

main #welcome-head #welcome-header .collapse-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  background-color: #232c33;
  display: inline-block;
  max-width: 40%;
  padding: .8em 1em;
  border-radius: 5px;
  margin-top: .5em;
  margin-bottom: .5em;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media (min-width: 840px) {
  main #welcome-head #welcome-header .collapse-btn {
    margin: 1em;
  }
}

main #welcome-head #welcome-header .collapse-btn:hover, main #welcome-head #welcome-header .collapse-btn:focus {
  -webkit-transform: scale(1.02) translate(0, -2px);
          transform: scale(1.02) translate(0, -2px);
  -webkit-box-shadow: 0 0 20px rgba(35, 44, 51, 0.7);
          box-shadow: 0 0 20px rgba(35, 44, 51, 0.7);
  background-color: #EBF5EE;
  color: #1E2D2F;
}

/*
  ===========
    Page Two
  ===========
*/
.page-2.hidden {
  display: none;
}

.page-2.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-2 .btn {
  margin: 0 auto;
  padding: .5em 1em;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #232c33;
  color: #EBF5EE;
  -webkit-box-shadow: 0.2em 0 0.5em rgba(35, 44, 51, 0.8);
          box-shadow: 0.2em 0 0.5em rgba(35, 44, 51, 0.8);
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.page-2 .btn:first-of-type {
  margin-bottom: 1em;
}

.page-2 .btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0.2em 0 1.5em rgba(35, 44, 51, 0.6);
          box-shadow: 0.2em 0 1.5em rgba(35, 44, 51, 0.6);
  background: #EBF5EE;
  color: #1E2D2F;
}

.page-2 .btn i[class*="fas-arrow-right"] {
  margin-left: .2em;
}

.page-2 .btn i[class*="fas-arrow-left"] {
  margin-right: .2em;
}

/*
  ==============
    Page Three
  ==============
*/
.photoGallery {
  margin: 0 auto;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photoGallery.hidden {
  display: none;
}

.photoGallery.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 840px) {
  .photoGallery {
    width: 90%;
  }
}

.photoGallery .showcase-head {
  position: relative;
  text-transform: uppercase;
  letter-spacing: .2rem;
  word-spacing: .2rem;
  margin: .2em;
  display: inline-block;
  padding: .1em .2em;
  font-size: 2.5rem;
  color: transparent;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media (min-width: 840px) {
  .photoGallery .showcase-head {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .2rem;
  }
}

.photoGallery .showcase-head::after,
.photoGallery .showcase-head::before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0;
  border: 1px solid #EBF5EE;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.photoGallery .showcase-head::after {
  border-width: 2px 0 2px 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

.photoGallery .showcase-head::before {
  border-width: 0 3px 0 3px;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

.photoGallery .showcase-head:hover::after,
.photoGallery .showcase-head:focus::after,
.photoGallery .showcase-head:hover::before,
.photoGallery .showcase-head:focus::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.photoGallery .img-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.photoGallery .img-grid .card {
  position: relative;
  height: 100%;
  min-width: 100%;
  min-height: 300px;
  border: 1px solid #EBF5EE;
  border-radius: 10px;
  margin-top: 1em;
}

.photoGallery .img-grid .card:last-child {
  margin-bottom: 1em;
}

.photoGallery .img-grid .card::after, .photoGallery .img-grid .card::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid white;
  z-index: 1;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.photoGallery .img-grid .card::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-right-width: 0;
  border-left-width: 0;
}

.photoGallery .img-grid .card::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  border-top-width: 0;
  border-bottom-width: 0;
}

.photoGallery .img-grid .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 44, 51, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.photoGallery .img-grid .card .overlay h5 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 1.4rem;
  color: #EBF5EE;
  margin: 0 0 .5em .5em;
}

.photoGallery .img-grid .card:hover::after {
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}

.photoGallery .img-grid .card:hover::before {
  -webkit-transform: scaleY(1.05);
          transform: scaleY(1.05);
}

.photoGallery .img-grid .card:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 44, 51, 0.6);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.photoGallery .img-grid .card-1 {
  background: url("https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: 100% 100%;
}

.photoGallery .img-grid .card-2 {
  background: url("https://images.unsplash.com/photo-1526304760382-3591d3840148?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: 100% 100%;
}

.photoGallery .img-grid .card-3 {
  background: url("https://images.unsplash.com/photo-1536924940846-227afb31e2a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: 100% 100%;
}

.photoGallery .img-grid .card-4 {
  background: url("https://images.unsplash.com/photo-1541367777708-7905fe3296c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: 100% 100%;
}

.photoGallery .img-grid .card-5 {
  background: url("https://images.unsplash.com/photo-1556850003-5adb86031c6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: 100% 100%;
  background-size: cover;
}

.photoGallery .img-grid .card-6 {
  background: url("https://images.unsplash.com/photo-1511424443513-a00662140eeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: 100% 100%;
}

.photoGallery .img-grid .card-7 {
  background: url("https://images.unsplash.com/photo-1569172122301-bc5008bc09c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: 100% 100%;
}

.photoGallery .img-grid .card-8 {
  background: url("https://images.unsplash.com/photo-1503169483-419b860b9208?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: 100% 100%;
}

@media (min-width: 840px) {
  .photoGallery .img-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    -ms-grid-rows: (minmax(250px, 1fr))[auto-fill];
        grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: .5em;
    margin: 1em auto 2em;
  }
  .photoGallery .img-grid .card:last-child {
    margin-bottom: 0;
  }
}

.photoGallery .go-back-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: .5em .3em .5em 0;
}

.photoGallery .go-back-btn-container .go-back-btn {
  color: #EBF5EE;
  background-color: #232C33;
  padding: .3em .5em;
  font-size: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #1E2D2F;
          box-shadow: 0 0 10px #1E2D2F;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.photoGallery .go-back-btn-container .go-back-btn:hover {
  -webkit-box-shadow: 0 0 20px #1E2D2F;
          box-shadow: 0 0 20px #1E2D2F;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #EBF5EE;
  color: #1E2D2F;
}

.photoGallery .go-back-btn-container .go-back-btn .fas {
  margin-right: .2em;
  font-size: .8em;
}

/*
  ===========
    FOOTER
  ===========
*/
#primary-footer {
  position: relative;
  font-family: Inconsolata;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: linear-gradient(310deg, #1e2d2f 0%, #12695f 74%);
  padding: 1em .5em;
}

#primary-footer .cpr {
  color: #EBF5EE;
  font-size: 1.8rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media (min-width: 840px) {
  #primary-footer .cpr {
    font-size: 2rem;
  }
}

#primary-footer .cpr .cpr-sign {
  margin-right: .2em;
}

#primary-footer .nav-footer .nav-footer-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#primary-footer .nav-footer .nav-footer-list .nav-footer-list-item a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #EBF5EE;
  margin-right: .5em;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

#primary-footer .nav-footer .nav-footer-list .nav-footer-list-item:not(:last-child) {
  margin-right: 1em;
}

#primary-footer .nav-footer .nav-footer-list .nav-footer-list-item a:hover {
  color: #ABEDC6;
  padding: .2em;
  border-radius: .2em;
  border: 2px solid #EBF5EE;
}
/*# sourceMappingURL=styles.css.map */